._navbar-container {
    flex: 10%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border-bottom: 2px solid #E5E8EB;

    ._navbar-logo {
        flex: 10%;

        display: flex;
        flex-direction: row;
        height: 100%;
        padding: 0 2.5%;
        align-items: center;

        ._nl-icon {
            font-size: 2rem;
        }

        ._nl-text {
            font-size: 1.5rem;
            font-weight: bold;
        }
    }

    ._navbar-btns {
        display: flex;
        flex-direction: row;

        ._navbar-nav-btns {
            display: flex;
            flex-direction: row;
        }

        ._navbar-side-btns {
            display: flex;
            flex-direction: row;
        }


    }

}