._previous-test-results-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    ._ptr-heading {

    }

    ._ptr-body {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        ._ptr-item {


            ._ptr-item-name {

            }
            ._ptr-item-timestamp {

            }
            ._ptr-item-result {

            }
        }
    }
}