._result-info-card-container {
    background: #F0F2F5;
    width: 12vw;

    height: 9vw;
    border-radius: 5px;

    ._ric {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        ._ric-label {
    
        }
    
        ._ric-value {
    
        }
    }

}